!!!5
html
  head
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='/adm/files/bootstrap.min.css')
    block styles
  body
    block content
  script(src='/adm/files/jquery-1.9.1',type="text/javascript")
  script(src='/adm/files/bootstrap.min.js',type="text/javascript")
  script(src='/adm/files/bootstrap-file.js',type="text/javascript")
  script(src='/adm/files/usishi.js',type="text/javascript")
  block scripts