extends layout
block styles
	link(rel='stylesheet', href='/adm/files/jq.Jcrop.min.css')
	link(rel='stylesheet', href='/adm/files/wysihtml5.css')
block content
	div.row-fluid
		div.well
			label(for="lst_kategori") 
				strong İçerik İsmi
			select#lst_icerik
				- options.richcontents.forEach(function(itm){
					option #{itm}
				- })	
			a.btn.button.btn-primary(href="javascript:loadrc()",style="margin-bottom:10px;") Yükle
			
		div.row-fluid
			.span9.well
				.row-fluid
					.span4
						label
							strong Başlık 1
						input(type="text")#txt_title1
					.span4		
						label
							strong Başlık 2
						input(type="text")#txt_title2
					.span4
						label
							strong Küçük Resim Seç
						select#medianamelist2
				.row-fluid
					textarea#txt_metin.span12(style="height:400px;")

				.row-fluid
					a.btn.button.btn-primary(href="javascript:saverc();") KAYDET
			.span3.well
				.row-fluid
					strong İçerik Resimleri
					a.btn.button.btn-success.pull-right(href="javascript:opennew("+options.thumbsizes.content.w+","+options.thumbsizes.content.h+")") Yeni Resim	
				.row-fluid#medialist(style="margin-top:10px")

			
	div.modal.hide.fade#haber
		div.modal-body
			div.row-fluid(style="min-height:150px;")
				div.span5#resimsec
					
				div.span7
					label(for="txt_title") 
						strong Resim İsmi
					input.span12#txt_title 
					
		div.modal-footer
			a.btn(href="javascript:$('#haber').modal('hide');") Vazgeç
			a.btn.btn-success(href="javascript:savemedia()") Kaydet	

	div.modal.hide.fade#selectImage
		div.modal-header
			| İçerik Resmi Seçiniz
		div.modal-body
			select#medianamelist
				
		div.modal-footer
			a.btn(href="javascript:$('#selectImage').modal('hide');") Vazgeç
			a.btn.btn-primary Kaydet			
block scripts
	script(src='/adm/files/jq.Jcrop.min.js',type="text/javascript")
	script(src='/adm/files/wysihtml5.js',type="text/javascript")
	script(src='/adm/files/wysihtml5_bs.js',type="text/javascript")
	script(src='/adm/files/rclist.js',type="text/javascript")