extends layout
block styles
	link(rel='stylesheet', href='/adm/files/jq.Jcrop.min.css')
	link(rel='stylesheet', href='/adm/files/wysihtml5.css')
block content
	div.row-fluid
		div.well
			label(for="lst_kategori") 
				strong İçerik İsmi
			select#lst_icerik
				- options.richcontents.forEach(function(itm){
					option #{itm}
				- })	
			a.btn.button.btn-primary(href="javascript:load()",style="margin-bottom:10px;") Yükle
			
		div.row-fluid
			.span7.well
				.row-fluid
					.span6
						label
							strong Başlık 1
						input(type="text")
					.span6		
						label
							strong Başlık 2
						input(type="text")	
				.row-fluid
					#wysihtml5-editor-toolbar
						header
							ul.commands
								li.command(data-wysihtml5-command='bold', title='Make text bold (CTRL + B)') 
								li.command(data-wysihtml5-command='italic', title='Make text italic (CTRL + I)')
								li.command(data-wysihtml5-command-group='foreColor', title='Color the selected text')
									ul
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='silver')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='gray')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='maroon')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='red')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='purple')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='green')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='olive')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='navy')
										li(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='blue')
								li.command(data-wysihtml5-command='insertUnorderedList', title='Insert an unordered list')
								li.command(data-wysihtml5-command='insertOrderedList', title='Insert an ordered list')
								li.command(data-wysihtml5-command='createLink', title='Insert a link')
								li.command(data-wysihtml5-command='insertImage', title='Insert an image')
								li.command(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h1', title='Insert headline 1')
								li.command(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h2', title='Insert headline 2')
								li.action(data-wysihtml5-action='change_view', title='Show HTML')
						div(data-wysihtml5-dialog='createLink', style='display: none;')
							label
								| Link:
								input(data-wysihtml5-dialog-field='href', value='http://')
							a(data-wysihtml5-dialog-action='save') OK
							a(data-wysihtml5-dialog-action='cancel') Cancel
						div(data-wysihtml5-dialog='insertImage', style='display: none;')
							label
								| Image:
								input(data-wysihtml5-dialog-field='src', value='http://')
							a(data-wysihtml5-dialog-action='save') OK
							a(data-wysihtml5-dialog-action='cancel') Cancel

						textarea#txt_metin


			.span5.well
				strong İçerik Resimleri
				a.btn.button.btn-success.pull-right(href="javascript:opennew("+options.thumbsizes.gallery.w+","+options.thumbsizes.gallery.h+")") Yeni Resim	
			
			
	div.modal.hide.fade#haber
		div.modal-body
			div.row-fluid(style="min-height:150px;")
				div.span5#resimsec
					
				div.span7
					label(for="txt_title") 
						strong Resim Başlığı
					input.span12#txt_title 
					
		div.modal-footer
			a.btn(href="javascript:$('#haber').modal('hide');") Vazgeç
			a.btn.btn-success(href="javascript:save()") Kaydet	
block scripts
	script(src='/adm/files/jq.Jcrop.min.js',type="text/javascript")
	script(src='/adm/files/wysihtml5_rules.js',type="text/javascript")
	script(src='/adm/files/wysihtml5.js',type="text/javascript")
	script(src='/adm/files/rclist.js',type="text/javascript")